/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 29, 2019, 3:43:49 AM
    Author     : ServerLand
*/
#footer{
    text-align: center;
    display: block;
    text-decoration: none;
}
#footer a:hover{
    text-decoration: none;
}